<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="../../css/intro.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->

    <title>Cadastro</title>
</head>

<body>

    <header>
        <div class="row">
            <div class="col-sm-2">
                <a href="./index.html"> <img class="img-responsive margin" src="../../img/logo.png" width="100%" alt="Logo"
                        title="Logo" /> </a>
            </div>
        </div>
    </header>

    <div class="container-fluid register-container">
        <div class="row">
            <div class="col-md-6 register-form-1" style="margin: auto;">
                <h3>Preencha o formulário</h3>
                <form>
                    <div class="form-group">
                        <input type="text" aria-label="Email" class="form-control" placeholder="Email" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" aria-label="Senha" class="form-control" placeholder="Senha" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" aria-label="Pais" class="form-control col-md-3 d-inline" placeholder="Pais" />
                        <input type="number" aria-label="CEP" class="form-control col-md-3 d-inline" placeholder="CEP" />
                        <input type="number" aria-label="CPF" class="form-control col-md-3 d-inline" placeholder="CPF" />
                    </div>
                    <div class="form-group">
                        <input type="text" aria-label="Logradouro" class="form-control col-md-3 d-inline" placeholder="Logradouro" />
                        <input type="number" aria-label="Numero" class="form-control col-md-3 d-inline" placeholder="Numero" />
                        <input type="number" aria-label="Complemento" class="form-control col-md-3 d-inline" placeholder="Complemento" />
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-primary" href="./login.html">Voltar</a>
                        <input type="submit" class="btn btn-primary" value="Cadastrar" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <div class="row">
            <div class="col-sm-12">
                <hr />
                <p>© Copyright</p>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
