<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="../../css/intro.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->

    <title>Ingre$$0</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="text-center">
                <!-- Client image goes here -->
                <a href="./index.html"> <h1 style="display:inline;margin-left:0.6em;color:#8b7d7b">Ingre$$0</h1> </a>
            </div>
        </div>
    </header>
    
    <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg navbar-light flex-shrink" style="background-color:lightcyan">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainnavbar" aria-controls="mainnavbar" aria-expanded="false" aria-label="Toggle Navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mainnavbar" class="navbar-collapse justify-content-md-center collapse" aria-expanded="false" style="">
                        <ul class="navbar-nav">
                            <li class="nav-item nav-link active">
                                <form action="#" class="searchForm" method="GET">
                                    <!-- <label for="k" class="masked">.</label> -->
                                    <input aria-label="Buscar eventos no site" placeholder="Buscar eventos no site" id="k" type="search" class="searchFormInput w-90" name="k" />
                                    <button type="submit" aria-label="Buscar" value="k" class="buscar">
                                        <img src="../../img/search_icon.png" alt="Search Icon" width="20" height="20" aria-hidden="true">
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div id="mainnavbar" class="navbar-collapse justify-content-md-center collapse" style="">
                        <p style="font-size: large;"><a href="./login.html">Entrar</a> ou <a href="./cadastrar.html">Cadastrar</a>
                        </p>
                    </div>
                </nav>
            </div>
        </div>

    <div class="container-fluid">
        <!-- <div class="col-sm-12"> -->
        <!-- <h3 class="margin">Destaques</h3> -->
        <!--<div class="row">
            <div class="col-sm-12 margin">
                <h3>Destaques</h3>
            </div>
            <div class="col-sm-10" style="margin: auto;">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../../img/carrosel/foto_1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../../img/carrosel/foto_2.jpeg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../../img/carrosel/foto_3.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- </div> -->

        <div class="row">
            <div class="col-sm-12 margin">
                <h3>Filmes</h3>
            </div>
            <div ng-app="aplicacao">
                <section ng-controller="Rest" id="fora">
                    <article ng-repeat="filme in filmes | orderBy : 'titulo'">
                        <img id="{{filme.id}}" src=" {{ filme.poster }}" alt="Foto 1">
                        <p id="0{{filme.id}}">{{ filme.titulo }}</p>
                        <span id="00{{filme.id}}">{{ filme.data }}</span>

                        <span aria-hidden="true" hidden id="000{{filme.id}}">{{ filme.sinopse}}</span>
                        <span aria-hidden="true" hidden id="0000{{filme.id}}">{{ filme.preco}}</span>

                        <!-- Botão para acionar modal -->
                        <button id="{{filme.id}}" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#modalMaisInf">
                            Mais informações
                        </button>
                    </article>
                </section>
            </div>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalMaisInf" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modaltitulo" class="modal-title">Título do modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="modalimg" src="-" alt="Foto Modal" class="img-responsive rounded mx-auto d-block">
                    <!-- <p id="modalp" style="text-align: center;">-</p> -->
                    <span id="modaldata" style="text-align: center; display: block;">-</span>
                    <span id="modalpreco" style="text-align: center; display: block;">-</span>
                    <span id="modalsinopse" style="text-align: center; display: block;">-</span>
                    <!-- <p>IMAGEM</p>
                        <p>EVENTO</p>
                        <p>DATAS DISPONIVEIS / HORARIOS DISPONIVEIS</p>
                        <p>INGRESSO</p> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer navbar-fixed-bottom">
        <div class="row">
            <div class="col-sm-12">
                <hr />
                <p>© Copyright</p>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="../../stateful/q1.js"></script>
    <script src="../../stateless/restjson.js"></script>
</body>

</html>
