<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="../../css/intro.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->

    <title>Login</title>
</head>

<body>

    <header>
        <div class="container">
            <div class="text-center">
                <!-- Client image goes here -->
                <a href="./index.html"> <h1 style="display:inline;margin-left:0.6em;color:lightcyan">Ingre$$0</h1> </a>
            </div>
        </div>
    </header>

    <div class="container-fluid login-container" ng-app="MyApp">
        <div class="row">
            <div class="col-md-6 login-form-1" style="margin: auto;">
                <h3>Entre com a sua conta</h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" aria-label="Email" placeholder="Email" value="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" aria-label="Senha" placeholder="Senha" value="">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Login">
                        <!-- <a href="#" class="ForgetPwd">Forget Password?</a> -->
                        <a class="btn btn-outline-primary" href="./index.html">Voltar</a>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary ng-binding" href="./cadastrar.html">Cadastrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer navbar-fixed-bottom">
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <p>© Copyright</p>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
