<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="../../css/intro.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->

  <title>Search</title>
</head>

<body>

  <header>
    <div class="row">
      <div class="col-sm-2">
        <a href="./index.html"> <img class="img-responsive margin" src="../../img/logo.png" width="100%" alt="Logo"
            title="Logo" /> </a>
      </div>
      <div class="col-sm-8" style="margin: auto;">
        <form action="#" class="searchForm" method="GET">
          <!-- <label for="k" class="masked">.</label> -->
          <input aria-label="Buscar eventos no site" placeholder="Buscar eventos no site" id="k" type="search"
            class="searchFormInput" name="k" style="width: 85%;">
          <button type="submit" aria-label="Buscar" value="k" class="buscar">
            <img src="../img/search_icon.png" width="20" height="20" aria-hidden="true">
          </button>
        </form>
      </div>
      <div class="col-sm-2" style="margin: auto;">
        <p style="font-size: x-large;"><a href="#">Entrar</a> ou <a href="#">Cadastrar</a></p>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="bg-3 text-left">
      <h3 class="margin">Itens encontrados</h3>
      <div class="row">
        <div class="col-sm-3">
          <section>
            <article>
              <p>Evento 1</p>
              <p>10/06/2019</p>
              <button>Mais informações</button>
            </article>
          </section>
        </div>
        <div class="col-sm-3">
          <section>
            <article>
              <p>Evento 2</p>
              <p>10/06/2019</p>
              <button>Mais informações</button>
            </article>
          </section>
        </div>
        <div class="col-sm-3">
          <section>
            <article>
              <p>Evento 3</p>
              <p>10/06/2019</p>
              <button>Mais informações</button>
            </article>
          </section>
        </div>
        <div class="col-sm-3">
          <section>
            <article>
              <p>Evento 4</p>
              <p>10/06/2019</p>
              <button>Mais informações</button>
            </article>
          </section>
        </div>
        <div class="col-sm-3">
          <section>
            <article>
              <p>Evento 5</p>
              <p>10/06/2019</p>
              <button>Mais informações</button>
            </article>
          </section>
        </div>
        <div class="col-sm-3">
          <section>
            <article>
              <p>Evento 6</p>
              <p>10/06/2019</p>
              <button>Mais informações</button>
            </article>
          </section>
        </div>
      </div>
    </div>

    <div class="bg-3 text-center">
      <div class="col-sm-12" style="margin: auto;">
        <h3 class="margin">Ainda não achou o que procurava?</h3>
        <form action="#" class="searchForm" method="GET">
          <!-- <label for="k" class="masked">.</label> -->
          <input aria-label="Buscar eventos no site" placeholder="Buscar eventos no site" id="k" type="search"
            class="searchFormInput" name="k" style="width: 85%;">
          <button type="submit" aria-label="Buscar" value="k" class="buscar">
            <img src="../../img/search_icon.png" width="20" height="20" aria-hidden="true">
          </button>
        </form>
      </div>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="col-sm-12">
        <hr />
        <p>© Copyright</p>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>